<?xml version="1.0"?>
<config>
    <modules>
        <CarlosReynosa_SpotifyPlayButton>
            <version>1.0</version>
        </CarlosReynosa_SpotifyPlayButton>
    </modules>
    <global>
        <blocks>
            <carlosreynosa_spotifyplaybutton>
                <class>CarlosReynosa_SpotifyPlayButton_Block</class>
            </carlosreynosa_spotifyplaybutton>

        </blocks>
    </global>
</config>